

:root {
    /* violet */
    --primary-color: 111, 76, 255;
    
    /* white */
    --text-color: 256, 256, 256;
  }
  
.add-users-container {
    width: 100%;
    background-color: #f4f2f2; /* Dark background */
    padding: 12px;
    border-radius: 10px;
    overflow-y: auto;
    color: white;
  }
  .add-users-container h2{
    color: black;
  }


  .form-group{
    margin: 12px;
  }
  
 
  .role-select{
    color: black;
    padding: 8px;
    margin: 8px;

  }
  .role{
    margin: 8px;
  }
  
  .submit-button{
    font-family: 'DM Sans', sans-serif;
    font-size: 18px;
    padding: 12px 32px;
    margin: 1rem;
    cursor: pointer;
    width: 180px;
    transition: all 0.3s ease;
    border-radius: 8px;
  }
  .user-queue {
    margin-top: 20px;
    
    padding: 10px;
    border-radius: 8px;
    color: black;
  }
  
  .user-queue h3 {
    margin: 0 0 10px 0;
    color: black;
  }
  
  .user-queue ul {
    list-style-type: none; /* Remove bullet points */
    padding: 0; /* Remove padding */
    color: black;
  }
  .user-list{
    color: black;
  }
  .users-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  .users-table th, .users-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  .users-table th {
    background-color: #f4f4f4;
  }
  
  .status-button {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
  }
  
  .status-button:hover {
    background-color: #218838;
  }
  .user-list{
    color: black;

  }

  .drag-area {
    border: 2px dashed #ccc;
    padding: 20px;
    text-align: center;
    cursor: pointer;
    transition: border-color 0.3s ease;
    color: #ccc;
  }
  
  .drag-area.dragging {
    border-color: #00aaff;
  }
  
  .drag-area-label {
    color: #999;
    font-size: 1.2em;
  }
  
  .submit-button {
    background-color: #00aaff;
    color: white;
    padding: 10px 20px;
    border: none;
    margin-top: 20px;
    cursor: pointer;
  }
  
  .submit-button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  
  .error-message {
    color: red;
    margin-bottom: 10px;
  }
  
  .success-message {
    color: green;
    margin-bottom: 10px;
  }
.table-content td {
  color:black;
}  
.tc-tr{
  color:black;
}