/* Glassmorphism Effect for Login Container */
.login-container {
    background: rgba(255, 255, 255, 0.2); /* semi-transparent background */
    backdrop-filter: blur(10px); /* Frosted glass effect */
    -webkit-backdrop-filter: blur(10px); /* Frosted glass for Safari */
    border-radius: 15px; /* Rounded corners */
    border: 1px solid rgba(255, 255, 255, 0.3); /* Subtle border */
    padding: 20px;
    max-width: 400px;
    height: 400px;
    margin:  auto;
    color: black;
    margin-top: 90px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Shadow for depth */
}

.login-container h2 {
    color: black;
    text-align: center;
    margin-bottom: 20px;
}

/* Background image class applied to body during login */
.login-background {
    
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
    transition: background 0.5s ease-in-out;
   
}

.login-form {
    display: flex;
    flex-direction: column;
    color: black;
}

/* Form group styling */
.form-group {
    margin-bottom: 15px;
    color: black;
}

.form-group label {
    font-weight: bold;
    color: black;
    padding: 8px;
    
}

.form-group input {
    width: 100%;
    padding: 8px;
    margin: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: #180424;
}

.login-button {
    background-color: #6a1b9a;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 80%;
    margin: auto;
    margin-top: 20px;
}

.login-button:hover {
    background-color: #53127b;
}

/* Error and success message styling */
.error-message {
    color: red;
    font-weight: bold;
}

.success-message {
    color: rgb(148, 255, 148);
    font-weight: bold;
}

/* Responsive design for smaller screens */
@media (max-width: 768px) {
    .login-container {
        padding: 10px;
    }
}

.signup-link {
    color: #180424;
    padding: 8px;
    margin: 10px;
    font-weight: bold;
}

.signup-link Link {
    color: #00ff80;
    
}
