.modal-overlay { 
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Ensure it appears above other content */
}

.modal-content {
    background: #16182a; /* Background color */
    color: white; /* Text color */
    padding: 20px;
    border-radius: 5px;
    min-width: 300px; /* Minimum width */
    max-width: 90%; /* Maximum width to make it responsive */
    min-height: 200px; /* Minimum height */
    max-height: 80vh; /* Maximum height, adjusting for viewport */
    overflow-y: auto; /* Scroll if content overflows */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
    position: relative; /* For positioning the close icon */
}

.modal-content h2 {
    margin: 0 0 20px; /* Space below the main title */
    font-size: 1.5em; /* Increase size for main title */
    text-align: center; /* Center align title */
    color: #7c747c; /* Optional: Change color for emphasis */
}

.modal-question-response p {
    margin: 15px 0; /* Space between paragraphs */
    font-size: 1em; /* Regular size for content */
}

.modal-question-response strong {
    font-size: 1.1em; /* Slightly larger font for titles */
    color: #f5d9c2; /* Optional: Change color for visibility */
}

.modal-content p {
    margin: 5px 0;
}

.close-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer; /* Change cursor to pointer */
    font-size: 20px; /* Adjust size as needed */
}
