.profile-section {
    position: relative;
  }
  
  .profile-button {
    background-color: #6a1b9a; /* Circle background color */
    color: white;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    cursor: pointer;
  }
  
  .profile-dropdown {
    position: absolute;
    top: 50px; /* Adjust for position below the button */
    right: 0;
    background-color: white;
    border: 1px solid #ccc;
    color: black;
    border-radius: 8px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    width: 200px;
    z-index: 100;
  }
  
  .profile-dropdown ul {
    list-style: none;
    padding: 10px;
    margin: 0;
    color: black;
  }
  
  .profile-dropdown li {
    padding: 10px;
    cursor: pointer;
    font-size: 14px;
    color: black;
  }
  
  .profile-dropdown li:hover {
    background-color: #f0f0f0;
  }