/* Signup.css */
:root {
  /* violet */
  --primary-color: 111, 76, 255;
  
  /* white */
  --text-color: 256, 256, 256;
}
.btn {
  font-family: 'DM Sans', sans-serif;
  font-size: 18px;
  padding: 12px 32px;
  margin: 1rem;
  cursor: pointer;
  width: 150px;
  transition: all 0.3s ease;
  border-radius: 8px;
}
.btn:hover {
  transition: all 0.3s ease;
}
.btn-glow:hover {
  box-shadow: rgba(var(--primary-color), 0.5) 0px 0px 20px 0px;
}
.btn-gradient-border {
  color: rgba(var(--text-color));
  border: 2px double transparent;
      background-image: linear-gradient(rgb(13, 14, 33), rgb(13, 14, 33)), radial-gradient(circle at left top, rgb(1, 110, 218), rgb(217, 0, 192));
  background-origin: border-box;
  background-clip: padding-box, border-box;
}

.signup-container {
  background: rgba(255, 255, 255, 0.2); /* semi-transparent background */
  backdrop-filter: blur(10px); /* Frosted glass effect */
  -webkit-backdrop-filter: blur(10px); /* Frosted glass for Safari */
  border-radius: 15px; /* Rounded corners */
  border: 1px solid rgba(255, 255, 255, 0.3); /* Subtle border */
    padding: 12px;
    border-radius: 8px;
    width: 500px;
    margin: 20px auto;
    color: white;
  }
  
  .signup-form {
    display: flex;
    flex-direction: column;
    color: white;
  }
  
  .form-group {
    margin-bottom: 15px;
    color: white;
  }
  
  .form-group label {
    font-weight: bold;
    color: white;
  }
  
  .form-group input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: #180424;
  }


  
  
  
  .error-message {
    color: red;
    font-weight: bold;
  }
  
  .success-message {
    color: green;
    font-weight: bold;
  }
  